In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, mean_absolute_error, mean_squared_error, r2_score
data= pd.read_csv("C:/Users/Lenovo/Downloads/Property_Dataset.csv")
data.head()

print(data)

    Property_Type  Total_Area_sqft  Num_Rooms  Num_Dining_Area  Num_Washrooms  \
0            Flat             3008          6                1              1
1       Apartment             3279          2                2              4
2           House             1424          5                1              3
3            Flat             3456          2                2              2
4            Flat             2081          4                2              3
..            ...              ...        ...              ...            ...
995         House             3874          4                2              4
996         House             3966          4                1              3
997     Apartment             3581          7                0              2
998     Apartment             4278          3                0              2
999          Flat             1129          7                2              2

     Num_Balconies  Floor_Level  Year_Built  Price_per_sqft  Estimated_Price  \
0                2           16        1990            3000          9367000
1                2            3        1998            4000         13353000
2                3            0        2014            3500          5364000
3                2            0        2018            3000         10555000
4                2           14        2005            3000          6553500
..             ...          ...         ...             ...              ...
995              1           17        2005            3500         13884500
996              0           14        2016            3500         14167000
997              3           11        2002            4000         14768000
998              3           14        2008            4000         17359000
999              0           12        2000            3000          3785000

     Category
0    Standard
1    Standard
2    Standard
3    Standard
4    Standard
..        ...
995  Standard
996  Standard
997  Standard
998    Luxury
999  Standard

[1000 rows x 11 columns]

In [2]:
print(data.info())
print(data.describe())
print(data['Property_Type'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Property_Type    1000 non-null   object
 1   Total_Area_sqft  1000 non-null   int64
 2   Num_Rooms        1000 non-null   int64
 3   Num_Dining_Area  1000 non-null   int64
 4   Num_Washrooms    1000 non-null   int64
 5   Num_Balconies    1000 non-null   int64
 6   Floor_Level      1000 non-null   int64
 7   Year_Built       1000 non-null   int64
 8   Price_per_sqft   1000 non-null   int64
 9   Estimated_Price  1000 non-null   int64
 10  Category         1000 non-null   object
dtypes: int64(9), object(2)
memory usage: 86.1+ KB
None
       Total_Area_sqft    Num_Rooms  Num_Dining_Area  Num_Washrooms  \
count      1000.000000  1000.000000      1000.000000    1000.000000
mean       2771.639000     4.029000         0.991000       2.474000
std        1300.137568     1.987488         0.825591       1.135171
min         501.000000     1.000000         0.000000       1.000000
25%        1636.000000     2.000000         0.000000       1.000000
50%        2711.500000     4.000000         1.000000       2.000000
75%        3893.500000     6.000000         2.000000       3.250000
max        4997.000000     7.000000         2.000000       4.000000

       Num_Balconies  Floor_Level   Year_Built  Price_per_sqft  \
count    1000.000000  1000.000000  1000.000000     1000.000000
mean        1.526000     9.862000  2001.428000     3869.000000
std         1.113806     5.652867    12.410513      714.037008
min         0.000000     0.000000  1980.000000     3000.000000
25%         1.000000     5.000000  1991.750000     3500.000000
50%         2.000000    10.000000  2001.000000     4000.000000
75%         3.000000    15.000000  2012.000000     4000.000000
max         3.000000    19.000000  2023.000000     5000.000000

       Estimated_Price
count     1.000000e+03
mean      1.100668e+07
std       5.433933e+06
min       1.660500e+06
25%       6.315500e+06
50%       1.094425e+07
75%       1.484938e+07
max       2.515500e+07
Property_Type
Apartment    280
House        258
Flat         232
Bungalow     230
Name: count, dtype: int64